* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: violet;
  color: white;
}

.scrollingText {
  text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollingText > marquee {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
}

.gift .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 0 0;
  justify-content: center;
  gap: 80px;
}

.gift .box {
  text-align: center;
  max-width: 300px;
  width: 100%;
  position: relative;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.gift .image {
  padding: 1rem 0;
  cursor: pointer;
}

.gift .image img {
  height: 20rem;
  animation: float 2.5s ease-in-out infinite;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.55));
}

/* onclick box */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.8);
}

.modal-container {
  position: relative;
  margin: 10% auto;
  width: 75%;
  animation: animateModal 0.5s;
}

/* modal animasi */
@keyframes animateModal {
  from {
    top: 0%;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
  color: white;
  padding: 0 20px 20px;
}

.modal-content {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

#box3 .close-icon {
  position: absolute;
  right: 0;
  top: 1rem;
}

.modal-content video {
  height: 25rem;
  border-radius: 10px;
}

.img-container img {
  height: 18rem;
  border-radius: 15px;
  margin: 0 50px;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}

#gift-content {
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 120%;
}

#gift-content p {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.your-gift.hidden {
  opacity: 0;
  pointer-events: none;
}

/* pictures-content */
.pictures-content {
  text-align: center;
  color: black;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.pictures-content.show {
  display: block;
  opacity: 1;
}

.scrollingImg {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scrollingImg img {
  width: 25%;
  aspect-ratio: 4/6;
  object-fit: contain;
  height: auto;
  max-width: 100%;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.55));
  margin: 3px 10px 0;
  display: inline-block;
}

.scroll {
  display: inline-block;
  animation: scrolling 120s linear infinite;
}

@keyframes scrolling {
  from {
    transform: translateX(105%);
  }
  to {
    /* adjust translateX for number of picts*/
    transform: translateX(-400%);
  }
}

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.music p {
  color: #ffeaea;
  font-size: 20px;
  font-family: "EB Garamond", serif;
  text-shadow: 0 0 13px rgba(255, 255, 255, 0.8);
}
